/********************* Fonts *******************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.container {
    width: 90%;
    margin: 0 auto;
}

/********************* Header Area *******************************/
.banner-area{
    background-color: black;
    color:aliceblue;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    padding-top: 40px;
}

.header-text {
    padding-left: 70px;
}
.header-text h1 {
    font-size: 4em;
    line-height: 80px;
}

.header-img {
    padding-right: 20px;
    display: grid;
    align-items: end;
}
.header-img img {
    width: 100%;
}

.banner-area a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #DD0000;
    color: aliceblue;
    padding: 10px 30px;
    font-weight: 100;
    border-radius: 5px;
}

.banner-area i {
    margin-left: 10px;
    display: inline-block;
}

a:hover {
    background-image: linear-gradient(#e74c3c,rgb(99, 41, 41));
}

/********************* Main Area *******************************/
.main-area {
    display: grid;
    grid-template-columns: 250px repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 100px;
}
.aside-menu {
    background-color: black;
    padding: 20px 20px;
    border-radius: 15px;
}
.aside-menu a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
}


.article-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.article-area article {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 15px;
}

.article-area img {
    width: 280px;
    height: auto;
}

.info {
    margin-left: 20px;
    margin-top: 15px;
}

.info a {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}

/********************* Footer Area *******************************/

footer {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin-top: 50px;
    
}

.footer-area h2 {
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
}

.footer-area li {
    list-style: none;
    color: #ffffff;
}

.footer-area a {
    text-decoration: none;
    color: #ffffff;
}
.footer-area ul {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

/********************* Upcoming Match Flag Area*******************************/

.flag-img {
    display: flex;
}
.flag-img img {
    width: 130px;
    height: auto;

}
.flag-info {
    text-align: center;
}